:root {
  --theme: linear-gradient(270deg, #5ab2f7 0%, #12cff3 100%);
  --primary: #cae9ff;
  --primary-text: rgb(44, 44, 44);
  --secondary: #c53434;
  --secondary-text: rgb(64, 64, 64);
  --error: #d33030;
  --error-text: rgb(235, 235, 235);
  --success: #57b657;
  --success-text: rgb(235, 235, 235);

  --black: #000000;
  --dark-gray: #5b5b5b;
  --gray: #949494;
  --light-gray: #e1e1e1;
  --white: #ffffff;
}
