@import url("./assets/fonts/Noto_Sans_KR/NotoSansKR.css");
@import url("./assets/fonts/Montserrat/Montserrat.css");

:root {
  font-family: "Montserrat", "NotoSansKR";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
  font-family: "Montserrat", "NotoSansKR";
  box-sizing: border-box;
}
